@import '../../style/varibale';

.app_contact {
    background: #f8f8f8;
}

.contact-section {
    padding: 2rem;
    direction: rtl;

    .contact-content {
        h2 {
            font-size: 1.5rem;
            font-weight: bold;

            .highlight {
                color: $mainColor;
                margin-left: 0.3rem;
                text-decoration: underline !important;
            }
        }

        p {
            margin-top: 0.5rem;
            color: #555;
        }

        .socials {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 1.5rem;
            flex-wrap: wrap;

            .icons {
                display: flex;
                gap: 0.5rem;

                .icon-box {
                    border: 1px solid #999;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &.twitter {
                        color: $mainColor;
                    }

                    &.facebook {
                        color: $mainColor;
                    }

                    &.instagram {
                        color: $mainColor;
                    }

                    &.linkedin {
                        color: $mainColor;
                    }

                    &:hover {
                        background-color: #eee;
                    }
                }
            }

            .follow-btn {
                background-color: #111;
                color: #fff;
                padding: 0.4rem 1rem;
                border: none;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.contact-wrapper {
    // padding: 2rem;
    width: 80%;
    margin: auto;
    margin-top: 40px;

    @media screen and (width < 767px) {
        width: 100%;
    }

    .contact-content {
        align-items: center;
    }

    .diamond {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.highlight {
    color: #e60000;
}


.submit-btn {
    color: white;
    width: 330px;
    border-radius: 8px !important;
    background: #A61517;
    flex-shrink: 0;
}

.submit-btn:hover {
    background-color: $mainColor;
}

.address-section { 
    padding: 70px 20px 190px 20px;
    color: white;
    text-align: right;
    margin-bottom: -125px;

    .container {
        width: 85%;
        margin: auto;

        @media screen and (width < 900px) {
            width: 90%;
        }
    }

    .map-iframe {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        border: none;
    }

    .address-content {


        .title {

            .custom-title .title-main .title-gray {
                color: #FFF;
                font-family: TheSansArabic;
                font-size: 48px;
                font-style: normal;
                font-weight: 530;
                line-height: 66px;
                /* 137.5% */
                letter-spacing: -2px;

                @media screen and (width < 900px) {
                    font-size: 38px;
                }
            }

        }
    }

    h2 {
        color: #FFF;
        font-family: TheSansArabic;
        font-size: 48px;
        font-style: normal;
        font-weight: 530;
        line-height: 66px;

    }


    p {
        color: #FFF;
        text-align: right;
        font-family: TheSansArabic;
        font-size: 24px;
        font-style: normal;
        font-weight: 530;
        line-height: normal;
        margin-top: 30px;

        &:lang(en) {
            text-align: left;
        }

        @media screen and (width < 900px) {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .copy-button {
        background-color: #c02e2e;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
        transition: background 0.3s;
        width: fit-content;
        height: 48px;
        margin-top: 60px;
        @include flex();

        &:hover {
            background-color: #a82828;
        }
    }

    iframe {
        width: 100%;
        height: 350px;
        border-radius: 20px;

        @media screen and (width < 900px) {
            margin-top: 50px;
        }
    }

    /* Responsive Design */
    @media screen and (max-width: 768px) {
        .address-section {
            text-align: center;
        }

        .address-content {
            text-align: center;
        }
    }
}


.working-hours-section {
    direction: rtl;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;

    .section-header {
        display: flex;
        align-items: center;

        gap: 0.5rem;
        margin-bottom: -20px;


        .title-container {


            span {
                color: #181820;
                font-family: TheSansArabic;
                font-size: 25px !important;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                user-select: none;

            }

            svg {
                width: 15px;
                margin-bottom: 10px;

                @media screen and (width < 900px) {
                    width: 15px;
                }
            }
        }
    }

    .days-range {
        margin-top: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        .arrow {
            font-weight: normal;
            color: #888;
        }
    }

    .timing {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 350px;
        height: 46px;
        border-radius: 55px;
        border-width: 1px;
        // border: 1px solid rgba(166, 21, 23, 1);

        .time {
            font-weight: bold;
        }

        .tag {
            padding: 0.2rem 0.6rem;
            border: 1px solid #990000;
            border-radius: 999px;
            color: #990000;
            font-size: 0.7rem;
            font-weight: 400;

            border-top-left-radius: 3px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background: rgba(166, 21, 23, 1) !important;
            color: #fff;

            &.red {
                background-color: #fdf0f0;
            }
        }
    }

    .contact {
        margin-top: 1rem;

        .ant-btn {
            padding: 0;
            font-weight: 900;
            font-size: 16px;
            font-size: 20px;
        }

        .phone-box {
            background-color: #111;
            color: white;
        }
    }

    .emails {
        width: 80%;
        margin-top: 2rem;


        .email-row {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            margin-bottom: 1rem;

            .red-dot {
                width: 7px;
                height: 7px;
                background-color: $mainColor;
                border-radius: 50%;
                margin-top: 6px;
            }

            .email-title {
                font-size: 20px;
                font-weight: bold;
            }

            .email-info {

                width: 100%;
                display: flex;
                justify-content: space-between;

                .email {
                    direction: ltr;
                    color: #181820;
                }

                .label_ {
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: #444;

                }
            }
        }
    }
}

.form_containers {
    width: 80%;
    margin: auto;

    .section-header {
        .title-container {
            display: flex;
            justify-content: flex-start !important;
        }
    }

    @media screen and (width < 767px) {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;

        .highlight {
            color: $mainColor;
            margin-left: 0.3rem;
            text-decoration: underline !important;
        }
    }

    .contact-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 50px;
    }
}

.form_containers {

    .section-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: -20px;


        .title-container {
            @include flex();

            span {
                color: #181820;
                font-family: TheSansArabic;
                font-size: 25px !important;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                user-select: none;

            }

            svg {
                width: 15px;
                margin-bottom: 10px;

                @media screen and (width < 900px) {
                    width: 15px;
                }
            }
        }
    }

}