@import '../../style/varibale';

.media-center {
    @media screen and (width < 990px) {
        padding: 0;
    }

    .header {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        @media screen and (width < 990px) {
            margin-bottom: 20px;
        }

        .title-container {
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            strong {
                color: #A61517;
                font-family: $fontBase;
                font-size: 40px;
                font-style: normal;
                font-weight: 530;
                line-height: normal;
                text-transform: capitalize;

                @media screen and (width < 990px) {
                    font-size: 40px;

                }
            }

            span {
                color: #181820;
                font-family: $fontBase;
                font-size: 44px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;

                @media screen and (width < 990px) {
                    font-size: 40px;

                }
            }

            svg{
                margin-bottom: 20px;
            }
        }
    }
}




.media-center { 

    .container {
        width: 95%;
        margin: auto;

        @media screen and (width < 990px) {
            width: 95%;
        }
    }

    .card-header img {
        width: 100%;
        height: 420px;
        object-fit: cover;
    }

    .read-more-btn {
        margin-top: 0;
        background-color: $mainColor;
    }
}