@import './varibale';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:wght@700;900&family=Tajawal:wght@300;400;500;700;800;900&display=swap');

// slider
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: transparent !important;
}

// Override slick dots color
.ant-carousel .slick-dots li button {
    background-color: $light !important;
}

// Override slick dots active button color
.ant-carousel .slick-dots li.slick-active button {
    background-color: $light !important;
}

.container_master {
    width: 80%;
    margin: auto;

    @media screen and (width < 1286px) {
        width: 90% !important;
    }

    @media screen and (width < 767px) {
        width: 95%;
    }
}


.pulse-animation {
    z-index: 999999999999;
}

.ant-float-btn-icon {
    svg {
        width: 100%;
    }
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
    width: 25px;
}

/* App.css */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 1.5s infinite;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: unset;
    width: 100%;

    @media screen and (width < 767px) {
        justify-content: center;
    }

    .title {
        font-size: 28px;
        font-weight: bold;
        color: #333;
        text-wrap: unset;
    }

    strong {
        text-wrap: unset;
        color: #A61517;
        text-align: right;
        font-family: $fontBase;
        font-size: 40px;
        font-style: normal;
        font-weight: 530;
        line-height: normal;

        @media screen and (width < 767px) {
            font-size: 30px !important;
        }
    }

    .highlight {
        color: #3C3C3B;
        font-family: $fontBase;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        @media screen and (width < 767px) {
            font-size: 30px !important;
        }
    }



    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        svg {
            width: 20px;
            height: 30px;

            @media screen and (width < 767px) {
                width: 18px !important;
                height: 18px !important;
                margin-bottom: 8px;
            }

            &:lang(en) {
                width: 30px;
                height: auto;
                margin-bottom: 10px;
                transform: scale(-1);

                @media screen and (width < 767px) {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }
}


[dir="rtl"] .ant-btn {
    svg {
        transform: rotate(-180deg);
        margin-top: 2px !important;
    }
}

[dir="rtl"] .app_title {
    svg {
        transform: rotate(-180deg);
    }
}

[dir="rtl"] .ant-btn {
    svg {
        margin-top: 4px !important;
    }
}

[dir="rtl"] h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
strong,
* {
    font-family: $fontArabic !important;
}

.container_main_80 {
    width: 80%;
    margin: auto;

    @media screen and (width < 767px) {
        width: 90%;
    }
}

.container_main_85 {
    width: 85%;
    margin: auto;

    @media screen and (width < 767px) {
        width: 90%;
    }
}

.container_main_90 {
    width: 90%;
    margin: auto;


    @media screen and (width < 767px) {
        width: 90%;
    }
}

.mt_main {
    margin-top: 80px;
}

.other {
    .navbar-main {
        background-color: transparent !important;

        @media screen and (width < 900px) {
            background-color: #181818 !important;
        }
    }
}

.blogs_navbar {
    .navbar-main {

        background-color: #000 !important;

        @media screen and (width < 900px) {
            background-color: #181818 !important;
        }
    }
}

.bg_dark {
    .navbar-main {

        background-color: #000 !important;

        @media screen and (width < 900px) {
            background-color: #181818 !important;
        }
    }
}

.header_overlay {
    position: relative;
    height: 548px;
    overflow: hidden;

    @media screen and (width < 900px) {
        margin-top: 100px;
        height: 148px;
    }

    .overlay {
        position: absolute;
        inset: 0;

        // background: rgba(0, 0, 0, 0.3);

        @media screen and (width < 900px) {
            background: rgba(0, 0, 0, 0.3);
        }

        img {
            height: 100%;
        }

        h3 {
            color: #FFF;
            font-family: $fontBase;
            font-size: 56px;
            font-style: normal;
            font-weight: 530;
            line-height: normal;
            text-transform: capitalize;
            user-select: none;
            margin-bottom: 15px !important;

            @media screen and (width < 900px) {
                font-size: 20px;
            }
        }

        .content {
            margin-bottom: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (width < 900px) {
                margin-bottom: 20px;
            }

            span {
                color: #fff !important;

                @media screen and (width < 900px) {
                    font-size: 14px;
                }
            }
        }

        display: flex;
        justify-content: center;
        align-items: flex-end;

    }
}



.trial__version {
    position: relative;

    .trial__version__text {
        position: fixed;
        z-index: 998;
        top: 45vh;
        right: -5px;
        transform: rotate(180deg);
        border-radius: 0 0 10px 10px;

        span {
            background: $mainColor;
            color: #fff;
            padding: 1.5rem .75rem;
            writing-mode: vertical-rl;
            font-size: .875rem;
            font-weight: 600;
            border-radius: 0 .625rem .625rem 0;
            min-height: 120px;
            text-align: center;
            margin: 0 !important;
            font-size: 18px;
        }
    }

}

.app_details_projects_page {
    .overlay {
        position: absolute;
        inset: 0;

        background: rgba(0, 0, 0, 0.4);
    }

    .overlay button {
        border: 1px solid #fff;
        background-color: transparent;
        color: #000;
        padding: 5px 28px;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_svg {
    svg {
        margin-top: -18px;
        width: 15px !important;
    }

    strong,
    .highlight {
        font-size: 30px !important;
        font-weight: 500 !important;
    }

}