@use './varibale' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light;
  color: #000;
  font-family: $fontBase;

}

[lang="ar"] body {
  font-family: $fontBase;
}

[lang="en"] body {
  font-family: $fontBase;
}

a {
  text-decoration: none;
}

::selection {
  background: rgba($color: $secondColor, $alpha: 0.3);
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000;

}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: $mainColor, $alpha: 0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.rtl p,
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl span,
.rtl strong {
  font-family: $fontBase !important;
  direction: rtl;
}