@import '../../../style/varibale';

.app__project_destails {
    width: 85%;
    margin: auto;
    margin-top: 100px;

    .project_summery {
        h1 {
            color: #181820;
            font-family: TheSansArabic;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;

            @media screen and (width < 900px) {
                font-size: 30px;
            }
        }

        .points {
            margin-top: 30px;

            .item {
                span {
                    color: #181820;
                    font-family: TheSansArabic;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: auto;
                    text-decoration-thickness: auto;
                    text-underline-offset: auto;
                    text-underline-position: from-font;
                    text-transform: capitalize;
                }
            }
        }
    }

}

.item_share_btn {
    justify-content: flex-end;

    @media screen and (width < 900px) {
        margin-top: 50px;
        display: flex !important;
        justify-content: space-between !important;
        width: 100%;

    }

    .ant-btn {
        display: flex;
        gap: 10px !important;
    }

    svg {
        transform: rotate(-90deg) !important;
    }
}

.app__project_destails {
    .title {
        display: flex;
        align-items: center;

        h2 {
            color: #000;
            text-align: right;
            font-family: TheSansArabic;
            font-size: 24px;
            font-style: normal;
            font-weight: 530;
            line-height: normal;
            text-transform: capitalize;

            @media screen and (width < 900px) {
                font-size: 20px;
            }
        }
    }

    .details {
        margin-top: 70px;


        .project-container {
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.30);
            padding: 15px
        }

        .section {
            @include flex();

            .icon,
            .content {
                @include flex();
                flex-direction: column;
            }

            .content .label1 {
                color: #000;
                text-align: right;
                font-family: TheSansArabic;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: capitalize;
            }

            .icon {
                display: flex;
                flex-direction: row;
                gap: 15px;
                margin-top: 20px;

                p {
                    color: #000;
                    text-align: right;
                    font-family: TheSansArabic;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 530;
                    line-height: normal;
                    text-transform: capitalize;
                }

                svg {
                    width: 35px;
                    height: 35px;
                }
            }
        }


    }
}

.section {
    position: relative;

    /* Add the vertical divider line */
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);


        @media screen and (width < 900px) {
            display: none;
        }
    }

}

.video_project {
    margin-bottom: 20px !important;

    p {
        color: #000;
        text-align: justify;
        font-family: TheSansArabic;
        font-size: 18px;
        font-style: normal;
        font-weight: 530;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 50px;

        @media screen and (width < 900px) {
            font-size: 16px;
        }
    }
}

.details-list {
    font-family: 'TheSansArabic', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #000;

    ul {
        list-style-type: none;
        /* Remove default bullets */
        padding: 10px;

        li {
            position: relative;
            /* For custom bullet positioning */
            padding: 0 25px;
            margin-bottom: 10px;
            color: #000;
            text-align: justify;
            font-family: TheSansArabic;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            @media screen and (width < 900px) {
                font-size: 14px;
                font-weight: 400;
                margin-top: 20px;
            }
            &::before {
                content: '';
                /* Unicode for bullet symbol */
                color: #ff4d4f;
                /* Red bullet color */
                position: absolute;
                right: 0;
                top: 8px;
                font-size: 20px;
                width: 12px;
                /* Width of the image */
                height: 12px;
                /* Height of the image */
                background-image: url('../../../assets/svg/pointlist.svg');
                /* Path to your image */
                background-size: cover;
                /* Ensure the image fits inside the defined size */
                background-position: center;
            }
        }
    }
}