.project-details-header {
    padding: 2rem;
    background-color: #fff;
    direction: rtl;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.image-container {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 500px;
    border-radius: 0;
}

.overlay-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    z-index: 1;
}

.project-info {
    text-align: right;
}

.back-button {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1rem;
}

.project-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.project-category,
.project-location {
    font-size: 1rem;
    color: #666;
    margin: 0.25rem 0;
}

.interest-button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.app_project_content {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 16px;
    margin-top: 1rem;
}

.app_project_content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.app_project_content p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 1rem;
    text-align: justify;
}

.summary-box {
    display: flex;
    margin-top: 24px;
    padding-top: 24px;
}

.summary-item {
    text-align: center;
    padding: 0 24px;
}

.summary-number {
    font-size: 24px;
    font-weight: bold;
    color: #0f0f10;
}

.summary-label {
    color: #8c8c8c;
    font-size: 16px;
}

.divider-vertical {
    width: 1px;
    height: 40px;
    background-color: #e0e0e0;
}

.project-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    height: 450px;
    flex-shrink: 0;
}

.project-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    direction: rtl;
    text-align: right;
}

.project-description {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    direction: rtl;
    text-align: justify;

}
 