 @use '../../style/varibale' as *;

.statistics_section {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;


    .title-container {
        @include flex();
        margin-bottom: 50px;

        span {
            font-size: 30px;
        }

        strong {
            font-size: 30px;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .section-header {
        margin-bottom: 50px;

        h2 {
            font-size: 22px;
            font-weight: bold;
            color: #333;

            .highlight {
                color: $mainColor;
            }
        }
    }

    .statistics-grid {
        @include flex();
        
        .stat-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: flex-start; 
            .items{
                @media screen and (width < 900px) { 
                    border-radius: 10px;
                    width: 100%;
                    padding: 20px 15px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Slight shadow effect */

                }
            }
            
            svg {
                margin-top: 20px;
            }

            .icon {
                text-align: right;
                width: 50%;

                &:lang(en) {
                    text-align: left;
                }
                @media screen and (width < 900px) {
                    width: 100%;
                    
                }
            }

            .stat-number {
                color: #181820;
                font-family: $fontBase;
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 5px;
                text-align: right;
                width: 50%;
                @media screen and (width < 900px) {
                    width: 100%;

                }
                &:lang(en) {
                    text-align: left;
                }
            }

            .stat-label {
                width: 50%;
                text-align: right;
                color: #181820;
                font-family: $fontBase;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                @media screen and (width < 900px) {
                    width: 100%;
                    display: block;
                font-size: 14px;

                    
                }
                &:lang(en) {
                    text-align: left;
                }
            }
        }
    }
}
 

 

.vertical-line {
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: #ddd;

    @media screen and (width < 900px) {
        display: none;
    }
}